*{
	margin:0;
	padding: 0;
}

body{
	display:flex;
	min-height:100vh;
	padding: 0 1%;
}
#site{
	background-color:lightgreen;
	border:4px green solid;
	border-radius: 10px;
	flex-grow:1;
	display:flex;
	flex-direction:column;
}
#site .hf{
	background-color: green;
	color: white;
	padding: 1%;
	border-radius: 10px;
	border:4px lightgreen solid;
}
#site header{
	display:flex;
	align-items:center;
	flex-wrap: wrap;
}
#site header .login{
	display:flex;
	width: 100%;
	padding: 5px;
	justify-content:space-between;
	align-items:center;
}
#site header .login .logindata{
	display:flex;
}
#site header .login .logindata .namemail{
	margin-left:10px;
}
#site .login .loginbtn{
	display:flex;
	align-items:center;
}
#site .login .loginbtn *{
	margin-left:5px;
}
#site .login .loginbtn .inputbtn{
	display: flex;
	align-items:center;
}


#site header .logo{
	display:flex;
	align-items: center;
	flex-grow:1;

}




#site header h1{
	flex-grow:1;
}
#site header .sort{
	display:flex;
}
#site header .sort .item-sort{
	display:flex;
	flex-direction:column;
	padding:10px;
}
#site footer{
	margin-top: auto;
}
#site main{
	flex-grow:1;
	border:4px green solid;
	margin:0 4px;
	border-radius: 10px;
	/* background-color: yellow; */
}
#site main .products{
	background-color: lightgray;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
#site main .products .product-card{
	display:flex;
	flex-direction:column;
	align-items:center;
	flex-basis:18%;
	margin:1%;
	border:2px green solid;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 1%;
	background-color: white;
}
#site main .products .product-card:hover{
	background-color: gray;
	color:white;
	}
#site main .products .product-card .product-info{
	margin-top:auto;
}
#site main .products .product-card img{
	max-width:100%;
	height:auto;
}

@media (max-width:1000px){
#site main .products .product-card{
	flex-basis:23%;
}	
}
@media (max-width:850px){
#site main .products .product-card{
	flex-basis:30%;
}	
}
@media (max-width:650px){
#site main .products .product-card{
	flex-basis:47%;
}
#site header{
	flex-direction:column;
	align-items:flex-start;

}	
}
@media (max-width:450px){
#site main .products .product-card{
	flex-basis:100%;
}
#site header .sort{
	flex-direction:column;

}	
}

.badge{
	background-color: red;
	color:white;
}
form .ng-dirty.ng-invalid{
	background-color: lightpink;
}
form .ng-dirty{
	background-color:lightgreen;

}
 form .ng-pristine{
 	background-color: lightblue;
 }