<section class="products">
			<article class="product-card" ng-repeat="item in items">
				<div class="product-image">
					<img  alt="fhoto" src={{item.path}}>
				</div>
				<div class="product-info">
					<h3>{{item.model}}</h3>
					<h4>{{item.name}}</h4>
					<h4>{{item.category}}</h4>
					<h3>{{item.price}}грн.</h3>
					<button ng-click='addProductCart(item)' class='btn btn-success'>
						<i class="fa fa-shopping-cart"></i> Купити</button>
				</div>
			</article>
			</section>


<!-- <nav aria-label="...">
  <ul class="pagination">
  	<li><a class="page-link" href="" ng-click=''>First</a></li>
    <li class="page-item">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li ng-repeat='item in objpage.pages' class='active'><a ng-click='setPage(item)' class="page-link" href="">{{item}}</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
	<li><a class="page-link" href="">End</a></li>

  </ul>
</nav> -->
<div class="row">
<nav aria-label="pagination" class='col'>
  <ul class="pagination d-flex justify-content-center mt-3">
  	<li class="page-item disabled" ng-click='setPage(1)'>
      <a class="page-link" href="#" tabindex="-1">First</a>
    </li>
    <li class="page-item disabled" ng-click='setPage(objpage.curentPage-1)'>
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" ng-repeat='item in objpage.pages' 
    ng-class='{active:item==objpage.curentPage}' ng-click='setPage(item)'>
    	<a class="page-link" href="#" >
    		{{item}}
    	</a>
    </li>
    
    <li class="page-item" ng-click='setPage(objpage.curentPage+1)'
    	ng-class='{disabled:true}'>
      <a class="page-link" href="#">Next</a>
    </li>
    <li class="page-item" ng-click='setPage(objpage.endPage)'>
      <a class="page-link" href="#" tabindex="-1">Last</a>
    </li>
  </ul>
</nav>
</div>